textarea#action {
    background: none;
    border: none;
    width: 100%;
    overflow: hidden;
}

textarea#action:focus {
    outline: 0;
}

section {
    padding: 200px 0;
    
}

#intro {
    color: #fff;
    text-align: center;
    background: url(../img/intro-bg.jpg) no-repeat bottom center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#result {
    color: #fff;
    background-color: #801515;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.intro-body {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 674px;
    max-width: 60%;
    margin: -142px 0 0 -337px;
}

.body-row {
    display: flex;
    flex-direction: row;
    min-height: 300px;
    max-height: 450px;
    align-items: flex-start;
    flex-flow: row wrap;
}

.body-row div {
    text-align: left;
    margin: 10px;
    width: 250px;
}

div.selection {
    text-align: center;
}

.item-title {
    margin: 0;
    font-size: 15px;
    display: none;
    
}

.item-label {
    padding:;
    font-size: 16px;
    font-weight: 'bold'
}

.fade-in.ng-enter, .fade-in.ng-leave {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
}

.fade-in.ng-enter,
.fade-in.ng-leave.ng-leave-active {
  opacity:0;
}

.fade-in.ng-leave,
.fade-in.ng-enter.ng-enter-active {
  opacity:1;
}
