<div class="container" ng-controller="ListenCtrl">
  <div class="search-wrapper">
    <div class="row header-box">
      <div class="col-xs-10">
        <textarea ng-model="title" id="action" ng-enter="getMeaningOfTitle()" placeholder="Speak or type..."></textarea>
      </div>
      <div class="col-xs-2">
        <button class="btn btn-lg btn-success"
                ng-class="{'btn-success': !isListening, 'btn-danger': isListening}"
                role="button"
                ng-click="toggleListening()">
          <i class="fa fa-microphone" ng-class="{'fa-microphone': !isListening, 'fa-circle': isListening}"></i>
        </button>
      </div>
    </div>
  </div>
</div>
